*{
    margin: 0;
    padding: 0;
}

.cabeca {
    background-color: #1dd6bd;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 48px;
}
    .cabecalho {
        width: 20%;
    }
.item{
    padding: 0 48px;
    display:inline;
    margin: 0 16px;
    font-size: 72px;
    justify-content:space-around;
    
}
.escola-imagem{
    width: 20%;
}

.escola{
    background-image: linear-gradient(#596142,#614257);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.escola-div-conteudo{
    width: 35%;
}

.escola-titulo{
    padding: 24px 0;
}

.lista2{
    text-align: center;
    font-size: 48px;
    font-style: italic;
    display: inline-block;
    margin: 0 16px;
    padding: 12px;
        
}

.escola-texto{
    text-align: justify;
}